{#
/**
 * @file
 * Default theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 *
 * @ingroup themeable
 */
#}
{% if attributes -%}
<div{{ attributes }}>
  {% endif %}
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}

  <{{ list.type }}{{ list.attributes }}>

  {% for key,row in rows %}
    <li{{ row.attributes }}>
      {{- row.content -}}
    </li>
    {% if key % 3 == 0 %}
      <amp-ad width="100vw" height="320"
              type="adsense"
              data-ad-client="ca-pub-6034020476793937"
              data-ad-slot="4161600461"
              data-auto-format="rspv"
              data-full-width="">
        <div overflow=""></div>
      </amp-ad>
    {% endif %}
  {% endfor %}

</{{ list.type }}>

{% if attributes -%}
  </div>
{% endif %}
