<div{{ attributes.addClass('block') }}>
  <div class="block-content nav-menu">
    <div class="pixie-container">
      <amp-img width="1" height="1" noloading src="/pixie.php" alt="pixie">
        <noscript>
          <img src="/pixie.php" alt="pixie">
        </noscript>
      </amp-img>
    </div>
    <nav>
      <ol>
        <li><a title="Glosar" href="{{ path('view.glosar.page_global') }}">
            <amp-img width="36" height="36" src="/themes/custom/thex/images/icons/glosar.png" alt="Glosar" noloading
                     srcset="/themes/custom/thex/images/icons/glosar.png 1x, /themes/custom/thex/images/icons/2x/glosar.png 2x"
            >
              <noscript>
                <img src="/themes/custom/thex/images/icons/glosar.png" alt="Glosar">
              </noscript>
            </amp-img>
          </a></li>
        <li><a title="Aleator" href="{{ path('dicto_views.autocomplete.random') }}">
            <amp-img width="36" height="36" src="/themes/custom/thex/images/icons/random.png" alt="Aleator" noloading
                     srcset="/themes/custom/thex/images/icons/random.png 1x, /themes/custom/thex/images/icons/2x/random.png 2x"
            >
              <noscript>
                <img src="/themes/custom/thex/images/icons/random.png" alt="Aleator">
              </noscript>
            </amp-img>
          </a></li>
        <li><a title="Cont" href="{{ path('dicto_views.account_redirect') }}">
            <amp-img width="36" height="36" src="/themes/custom/thex/images/icons/cont.png" alt="Cont" noloading
                     srcset="/themes/custom/thex/images/icons/cont.png 1x, /themes/custom/thex/images/icons/2x/cont.png 2x"
            >
              <noscript>
                <img src="/themes/custom/thex/images/icons/cont.png" alt="Cont">
              </noscript>
            </amp-img>
          </a></li>
        <li><a title="Adaugă" href="{{ path('dicto_views.add_redirect') }}">
            <amp-img width="36" height="36" src="/themes/custom/thex/images/icons/add.png" alt="Adaugă" noloading
                     srcset="/themes/custom/thex/images/icons/add.png 1x, /themes/custom/thex/images/icons/2x/add.png 2x"
            >
              <noscript>
                <img src="/themes/custom/thex/images/icons/add.png" alt="Adaugă">
              </noscript>
            </amp-img>
          </a></li>
      </ol>
    </nav>
  </div><!--/.block-content -->
</div><!--/.block -->
