{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <div class="site-branding">
    <div class="site-name-slogan">
      <div class="site-name site-name-mini">
        <a href="{{ path('<front>') }}" title="{{ 'Acasă' }}" rel="home">{{ 'DicțiUrban' }}</a>
      </div>
      <div class="site-name site-name-full">
        <a href="{{ path('<front>') }}" title="{{ 'Acasă' }}" rel="home">{{ site_name }}</a>
      </div>
    </div><!-- site-name-slogan -->
  </div><!-- site-branding -->
{% endblock %}
