<div{{ attributes.addClass('block') }}>
  <div class="block-content nav-menu">
    <div class="pixie-container">
      <img src="/pixie.php" alt="pixie">
    </div>
    <nav>
      <ol>
        <li><a title="Glosar" href="{{ path('view.glosar.page_global') }}">
            <img src="/themes/custom/thex/images/icons/glosar.png" alt="Glosar">
          </a></li>
        <li><a title="Aleator" href="{{ path('dicto_views.autocomplete.random') }}">
            <img src="/themes/custom/thex/images/icons/random.png" alt="Aleator">
          </a></li>
        <li><a title="Cont" href="{{ path('dicto_views.account_redirect') }}">
            <img src="/themes/custom/thex/images/icons/cont.png" alt="Cont">
          </a></li>
        <li><a title="Adaugă" href="{{ path('dicto_views.add_redirect') }}">
            <img src="/themes/custom/thex/images/icons/add.png" alt="Adaugă">
          </a></li>
      </ol>
    </nav>
  </div><!--/.block-content -->
</div><!--/.block -->
